html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.heading {
    text-align: center;
    background-color: darkgray;
    color: rgb(0, 0, 0);
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-style: dotted;


}

/*this helps make my image circle*/
img {
    border-radius: 50%;
    border-style: groove;
}


.introductory {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

a {
    color: crimson;
}

a:hover {
    color: blueviolet;
}


.menu {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: floralwhite;
    width: fit-content;
    height: fit-content;
    /*to make the menu fit exactly at the corner*/
    margin-top: -2.9%;
    font-size: 20px;
}

.content {
    background-color: lightsalmon;
    border-style: double;
    margin-left: 5%;
    margin-right: 5%;

}

footer {
    background-color: darkgray;
    padding-right: 3%;
    border-style: dotted;
    margin-left: 5%;
    margin-right: 5%;
}

/*to highlight my topics*/
#education,
#skills,
#experience {
    color: antiquewhite;
}

body {
    margin-top: 5%;
    margin-bottom: 5%;
}