html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
}


#header {
    color: rgb(0, 0, 0);
    padding-bottom: 20%;
    background-image: url(/image/backgroundImage1.jpg);
    /* height: 300px; */
    background-size: cover;
    text-align: center;
}



/*this helps make my image circle and position it*/
img {
    border-radius: 30%;
    height: auto;
    position: relative;
    top: 30%;
    overflow:hidden;
    
}

.introductory {
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   padding-top: 15%;
}



/*this is the part that has links to my content*/
.menu li {
    display: inline;
    color: black;
    list-style: none;
    font-size: larger;
 }

 
.menu{
    text-align: center;
}


/*to highlight my topics*/
#education,
#skills,
#experience,
#introduction {
    color: crimson;
}


/*my h1 heading element*/
h1 {
    font-size: xx-large;
    color: crimson;
    text-align: center;
    position: relative;
    top: 25%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*this changes the color of my links*/
a {
    color: crimson;
}

/*to highlight a link when its being touched*/
a:hover {
    color: blueviolet;
}


/*my contact details*/
footer {
    background-color: darkgray;
    border-style: dotted;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}
/*color for my form*/
.form {
    color: crimson;
}

/*button for back to top*/
#botton {
    background-color: black;
    float: left;
    margin-top: 15%;
}



/*flexing of my content*/
.flexbox-container {
    display: flex;
    border-style: double;
    justify-content: space-evenly;
    background-color: coral;
    flex-wrap: wrap;
   

}

.flexbox-item {
    width: 200px;
    margin: 10px;
}


.flexbox-item1 {
    background-color: sandybrown;
    width: 430px;
    font-size: larger;
    border-style: dashed;
    padding-left: 5px;
}

.flexbox-item2 {
    background-color: sandybrown;
    width: 430px;
    border-style: dashed;
    font-size: larger;
    padding-left: 5px;
}

.flexbox-item3 {
    background-color: sandybrown ;
    width: 420px;
    border-style: dashed;
    font-size: larger;
    padding-left: 5px;

}



/*code for small devices*/

@media only screen and (max-width:600px)
{
    #header{
        background-image: url(/image/backgroundImage3.jpg);
    }
 img{
    padding-top:2%;
    border-radius: 50%;
    height: 150px;
   
 }
    .introductory {
        font-size: medium;
        color: coral;
        padding-top: 18%;
    }
    .menu li{
        font-size:small ;
    
    }
    .menu {
        font-size: small;
    }
h1 {
    font-size:medium;
    padding-top: 10%; 
    color: crimson;
}
footer {
    font-size: small;
}
.flexbox-item1 {
    font-size:small
    
}
.flexbox-item2 {
    font-size: small;
}
.flexbox-item3 {
    font-size: small;
}
}

/*code for tablets*/

@media screen and (min-width:601px)
{
    #header{
        background-image: url(/image/backgroundImage2.jpg);
        height: auto;
    }
 img{
    margin-top: 20%;
    border-radius: 30%;
    height: 400px;
    width: 450px;
    position: relative;
    left: 2%;
   
 }
    .introductory {
        font-size:200%;
        color: crimson;
    }
    .menu {
        font-size: 150%;
    }

    .menu li{
        font-size:130%;
    
    }
h1 {
    font-size: 250%;
    padding-top: 10%;
    color: blueviolet;
}
footer {
    font-size: 190%;
    font-size: medium;
}
.flexbox-item1 {
    font-size:medium;
    
}
.flexbox-item2 {
    font-size:medium;
}
.flexbox-item3 {
    font-size:medium;
    height: 250px;
}
}

/*code for laptop*/
@media screen and (min-width:993px)
{
    #header{
        background-image: url(/image/backgroundImage1.jpg);
        
    }
 img{
    margin-top: 15%;
    border-radius: 30%;
    height: 650px;
    width: 550px;
    position: relative;
    left: 2%;
   
 }
    .introductory {
        font-size:xx-large;
        color:antiquewhite;
    }
    .menu {
        font-size: x-large;
    }

    .menu li{
        font-size:x-large;
    
    }
h1 {
    font-size:xx-large;
    padding-top: 10%;
}
footer {
    font-size: x-large;
}
.flexbox-item1 {
    font-size:x-large;
    
}
.flexbox-item2 {
    font-size:x-large;
}
.flexbox-item3 {
    font-size:x-large;
    height: 600px;
    
}
}
 

