html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
}


#header {
    color: rgb(0, 0, 0);
    padding-bottom: 20%;
    background-image: url(/image/backgroundImage.jpg);
    height: 500px;
    background-size: cover;
    text-align: center;
}

/*this helps make my image circle and position it*/
img {
    border-radius: 30%;
    border-style: double;
    height: auto;
}
.introductory {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   padding: 3%;
    background-color: darkgray;
}

a {
    color: crimson;
}

a:hover {
    color: blueviolet;
}


/*this is the part that has links to my content*/
 .menu li {
    display: inline;
    color: black;
    list-style: none;
 }
.menu{
    text-align: center;
}
/*my contact details*/
footer {
    background-color: darkgray;
    border-style: dotted;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}

/*button for back to top*/
#botton {
    background-color: black;
    float: left;
    margin-top: 15%;
}

/*to highlight my topics*/
#education,
#skills,
#experience,
#introduction {
    color: crimson;
}

/*to highlight my topics*/
h1 {
    font-size: xx-large;
    color: crimson;
    text-align: center;
}


/*flexing of my content*/
.flexbox-container {
    display: flex;
    border-style: double;
    justify-content: space-evenly;
    background-color: coral;
    flex-wrap: wrap;
   

}

.flexbox-item {
    width: 200px;
    margin: 10px;
}


.flexbox-item1 {
    background-color: sandybrown;
    min-height: 500px;
    width: 400px;
    align-self: self-start;
    font-size: larger;
    border-style: dashed;
    align-self: flex-end;
}

.flexbox-item2 {
    background-color: sandybrown;
    min-height: 400px;
    width: 400px;
    border-style: dashed;
    align-self: center;
    font-size: larger;
}

.flexbox-item3 {
    background-color: sandybrown;
    height: 400px;
    align-self: flex-end;
    border-style: dashed;
    font-size: larger;
}


.flexbox-item4 {
    display: flex;
    flex-direction: row;
}


